<template name="DocumentDefinitions_list">
    <h3>Definitions List</h3>
    {{#if definitions}}
        <div class="row row-start-section">
            <div class="col-md-12">
                {{#each definitions}}
                    <h3>Definition ID: {{ _id }}</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Fields</h3>
                        </div>
                        <div class="panel-body">
                            {{#each field in schema.fields}}
                                <dl>
                                    <dt>{{field.label}}</dt>
                                    <dd>ID: {{field._id}}</dd>
                                    <dd>Type: {{field.type}}</dd>
                                </dl>
                            {{/each}}
                        </div>
                    </div>
                    <h3>Layouts</h3>
                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Label</th>
                            <th style="width: 15%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each layout in layoutsOfDefinition _id}}
                            <tr>
                                <td>{{layout._id}}</td>
                                <td>{{layout.label}}</td>
                                <td>
                                    <a type="button" class="btn btn-success"
                                       href="{{pathFor 'Documents.fromLayout.create' definitionId=_id layoutId=layout._id}}">
                                        Create document &nbsp;
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{/each}}
            </div>
        </div>
    {{else}}
        {{>App_notFound}}
    {{/if}}
</template>