<template name="Fields_list">
    <h3>Fields List</h3>
    {{#if fields}}
        <div class="row row-start-section">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Label</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each fields}}
                        <tr>
                            <td>{{rowNumber @index}}</td>
                            <td>{{name}}</td>
                            <td>{{label}}</td>
                            <td>{{type}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        {{>App_notFound}}
    {{/if}}
</template>