<template name="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Documents Flow</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'Fields.list'}}">Fields</a></li>
                    <li><a href="{{pathFor 'DocumentDefinitions.list'}}">Definitions</a></li>
                    <li><a href="{{pathFor 'Documents.list'}}">Documents</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</template>