<template name="Documents_list">
    <div class="row">
        <h3>Documents List</h3>
        {{#if documents}}
            <div class="row row-start-section">
                <div class="col-md-12">
                    {{#each doc in documents}}
                        <h3>Document: "{{ doc.label }}"</h3>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Fields</h3>
                            </div>
                            <div class="panel-body">
                                {{#each field in doc.fields}}
                                    <dl>
                                        <dt>{{field.label}}</dt>
                                        <dd>ID: {{field._id}}</dd>
                                        <dd>Type: {{field.type}}</dd>
                                        <dd>Value: {{field.value}}</dd>
                                    </dl>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
</template>