<template name="Documents_create">
    <h1>Document from layout - "{{docLayout.label}}"</h1>
    <div class="alert alert-success js-alert hidden" role="alert">
        <strong>Well done!</strong> You successfully created document. Go to documents to see all of them.
    </div>
    <form class="new-document">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="documentName">Document Name</label>
                    <input type="text" class="form-control" id="documentName" name="documentName" placeholder="Name">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="documentLabel">Document Label</label>
                    <input type="text" class="form-control" id="documentLabel" name="documentLabel" placeholder="Label">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Document fields</div>
            <div class="panel-body">
                {{#each row in docLayout.header.rows}}
                    <div class="row">
                        {{#each field in row.columns}}
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="{{field._id}}">
                                        {{field.label}}
                                    </label>
                                    <input class="form-control js-field-data" id="{{field._id}}"
                                           type="{{field.type}}"
                                           name="{{field.name}}"
                                           data-id="{{field._id}}"/>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
        {{#each button in docLayout.buttons}}
            <button type="{{button}}" class="btn btn-primary dropdown-toggle">
                {{button}}
            </button>
        {{/each}}
    </form>
    {{>Documents_list documents=documents}}
</template>