<template name="App_body">
    {{> nav}}

    <main role="main">
        <div class="container">
            {{> Template.dynamic template=main}}
        </div>
    </main>

    <footer class="container">
        <p>&copy; DocFlow 2017-2018</p>
    </footer>
</template>