body {
  padding-top: 50px;
}

tbody > tr > td {
  text-align: left;
}

.row-top-space{
  margin-bottom: 5px;
}

.row-start-section{
  margin-top: 20px;
}

.table{
  background: #e6e6e6;
}

.table thead{
  background: #8a8a8a;
}